[flake8]
class_attributes_order =
    constant,
    outer_field,
    field,
    meta_class,
    __new__,
    __init__,
    __post_init__,
    magic_method,
    method,
    nested_class,

exclude=
    .venv,
    .git,
    __pycache__,

select=
    # flake8-mutable
    M511,
    # flake8-noqa
    NQA,
    # flake8-warnings
    WS,
    # flake8-class-attributes-order
    CCE,
    # flake8-functions-names
    FNE,
    # flake8-newspaper-style
    NEW100,

ignore=
    # NQA102 "# noqa: X000" has no matching violations. False-positive with B902.
    NQA102,
    # FNE003 Name of the function uses save, but not uses to
    FNE003,
    # FNE008 Name of functions ends with it's first argument name
    FNE008,

per-file-ignores=
    # NQA103 "# noqa: X000" has unmatched codes, remove X000
    **/tests/**.py:NQA103,
